<h2>Best deals</h2>
<form action="/" method="GET">
{{#each deals}}
<ol>
     <li><span><h3>{{this.qty}}</h3> FOR <h3>R{{this.price}}</h3> AT <h3>{{this.shop_name}}</h3></span></li>
</ol>
{{/each}}
</form>

<div class="recommend">
<form action="/recommend" method="POST">
<label for="amount">Enter Amount</label>
<input type="text" name="amount" value="{{amount}}">
<input type="submit" value="Get Deals">
<a href="/">Show To Top Five Deals</a>
</form>
</div>



